/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f5f2; /* Light background color
}
*/
.dining-section {
    text-align: center;
    padding: 50px 20px;
}

.dining-section h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    color: #333333;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.dining-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
    gap: 40px; /* Space between items */
    justify-items: center;
    padding: 0 50px;
}

.dining-item {
    max-width: 300px;
    text-align: center;
}

.dining-item svg {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.dining-item p {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    color: #555555;
    line-height: 1.8;
}
